.hero{
    /* background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg') no-repeat center; */
    background: url('/src/assets/hero.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(20, 34, 42, 0.5);
    background-blend-mode: multiply;
    margin-top: 5px;
    height: calc(100vh - 75px);
    width: 100vw;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
}

.see-more-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-text{
    text-align: center;
    font-size: 50px;
    min-height: 170px;
}

@media screen and (min-width: 540px) {
    .hero-content{
        align-items: center;
    }
    .see-more-btn-container{
        align-self: flex-end;
        margin-right: 40px;
    }
}